body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to bottom, #FDEDF6, #E9EFF5) !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

form > div {
  margin-bottom: 15px;
}

form > div:last-child {
  margin-top: 35px;
  margin-bottom: 0;
}

.MuiToolbar-root {
  background-color: #353d46;
}

.MuiLinearProgress-barColorPrimary {
  background-color: #414C55 !important;
}
